body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
    // ensure height is 100% of the viewport
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
}

// have headers inherit the body font and color
h1, h2, h3, h4, h5, h6, p {
    font-family: inherit;
    color: inherit;
}
