.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
  background-color: white;

  .header {
    margin-left: 15px;
    h1 {
      font-size: 25px;
    }
  }
  .nav {
    margin-left: auto;
    margin-right: 15px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  //fade background colour from white to rgb(220, 233, 255, .5) top down
  background: linear-gradient(rgba(255, 255, 255, 1), 15%, rgba(220, 233, 255, 0.5));
}
